/* Spacing sizes */

/* Square Inset */
.cbp-spacing-square {
  &--micro {
    padding: $cbp-micro-space;
  }

  &--xsmall {
    padding: $cbp-extra-sm-space;
  }

  &--small {
    padding: $cbp-sm-space;
  }

  &--regular {
    padding: $cbp-reg-space;
  }

  &--large {
    padding: $cbp-lg-space;
  }

  &--xlarge {
    padding: $cbp-extra-lg-space;
  }
}

/* Squish Inset */
.cbp-spacing-squish {
  &--micro {
    padding: $cbp-micro-space $cbp-extra-sm-space;
  }

  &--xsmall {
    padding: $cbp-extra-sm-space $cbp-sm-space;
  }

  &--small {
    padding: $cbp-sm-space $cbp-reg-space;
  }

  &--regular {
    padding: $cbp-reg-space $cbp-lg-space;
  }

  &--large {
    padding: $cbp-lg-space $cbp-extra-lg-space;
  }
}

/* Stretch Inset */
.cbp-spacing-stretch {
  &--micro {
    padding: $cbp-extra-sm-space $cbp-micro-space;
  }

  &--xsmall {
    padding: $cbp-sm-space $cbp-extra-sm-space;
  }

  &--small {
    padding: $cbp-reg-space $cbp-sm-space;
  }

  &--regular {
    padding: $cbp-lg-space $cbp-reg-space;
  }

  &--large {
    padding: $cbp-extra-lg-space $cbp-lg-space;
  }
}

/* Stack Spacing */
.cbp-spacing-stack {
  &--micro {
    padding-bottom: $cbp-micro-space;
  }

  &--xsmall {
    padding-bottom: $cbp-extra-sm-space;
  }

  &--small {
    padding-bottom: $cbp-sm-space;
  }

  &--regular {
    padding-bottom: $cbp-reg-space;
  }

  &--large {
    padding-bottom: $cbp-lg-space;
  }

  &--xlarge {
    padding-bottom: $cbp-extra-lg-space;
  }
}

/* Inline Spacing */
.cbp-spacing-inline {
  &--micro {
    padding-right: $cbp-micro-space;
  }

  &--xsmall {
    padding-right: $cbp-extra-sm-space;
  }

  &--small {
    padding-right: $cbp-sm-space;
  }

  &--regular {
    padding-right: $cbp-reg-space;
  }

  &--large {
    padding-right: $cbp-lg-space;
  }

  &--xlarge {
    padding-right: $cbp-extra-lg-space;
  }
}
